.header {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  gap: var(--space-s);
}

.checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  appearance: none;
  line-height: 1;
}

.checkbox::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.checkbox:checked:before {
  background-image: url('/icons/check.svg');
}

.checkedSome:before {
    background-image: url('/icons/partly-check.svg');
}
