.cell {
  width: fit-content;
  padding: var(--space-m);

  text-align: center;
  border-bottom: 1px solid var(--bgc-light);
}

.pinned {
  position: sticky;
  left: 0;

  opacity: 0.95;
  z-index: 1;

  background-color: var(--bgc-white);
  box-shadow: -4px 0 4px -4px var(--bgc-light) inset;
  border-bottom-left-radius: var(--border-radius-m);
}
