.cell {
  width: fit-content;
  padding: var(--space-m);

  text-align: center;
  border-bottom: 1px solid var(--bgc-light);
}

.pinned {
  position: sticky;
  left: 0;

  z-index: 1;

  background-color: var(--bgc-white);
  border-bottom-left-radius: var(--border-radius-m);
}
