.header {
  padding: var(--space-m);
  border-bottom: 1px solid var(--bgc-dark);
}

.pinned {
  position: sticky;

  opacity: 0.95;
  z-index: 1;

  background-color: var(--bgc-white);
}

.sortable {
  cursor: pointer;
}

.sorted {
  background-color: var(--bgc-light);
}

.sortButton {
  border: 1px solid transparent;
  margin: var(--space-m);
  padding: 0 var(--space-s);
  background-color: transparent;
  color: var(--text-primary);
}
